body {
    background-color: black;
}

div#dice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img#diceImg {
    width: 150px;
    margin: auto;
    display: block;
}